<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>2017년</string>
		<key>startDate</key>
		<string>2017. 01. 01. 00. 00</string>
		<key>endDate</key>
		<string>2017. 12. 31. 23. 59</string>
		<key>hasTerm</key>
		<true/>
		<key>isRepeat</key>
		<false/>
		<key>setWidget</key>
		<true/>
		<key>setBadge</key>
		<false/>
		<key>character</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
